/* Sidebar */
.godo-content-side,
.content-left-side {
  grid-column: wide-start/main-start;
}

.content-right-side {
  grid-column: 4/5;
}

ol,
li.toc-list-item {
  list-style: none;
  ;
}

.is-active-li {
  color: var(--color-link, #18D78B);
}

.toc .toc-list {
  padding-left: 0;
}

.toc-list .toc-list-item {
  margin-left: 1rem;
}

.toc-list .toc-list-item::before {
  content: "";
  display: none;
}

.button:hover {
  box-shadow: 2px 2px 6px 0px var(--color-primary);
  border: 1px solid var(--color-primary);
}

.toc-list-item .is-active-link::before {
  background-color: var(--color-secondary, #18D78B);
  ;
}

.godo-tracking.facebook:hover {
  color: var(--color-facebook, #4267B2);
}

.godo-tracking.twitter:hover {
  color: var(--color-twitter, #1DA1F2);
}

.godo-tracking.linkedin:hover {
  color: var(--color-linkedin, #0077b5);
}

.godo-tracking.whatsapp:hover {
  color: var(--color-whatsapp, #25D366);
}

.godo-tracking.copy-link:hover {
  color: var(--color-link, green);
}

.js-copy-link {
  /* Your base styles for the link */
  /* border: 1px solid red;; */
}

.js-copy-link.copied {
  /* Styles for the animation */
  box-shadow: 0 0 5px var(--color-link, green);
  animation: instantGlow 0.1s ease-in-out forwards;
  /* Adjust duration as needed */
  border-radius: 100px;
}

@keyframes instantGlow {
  from {
    box-shadow: 0 0 0 rgba(0, 255, 0, 0);
  }

  to {
    box-shadow: 0 0 5px var(--color-link, green);
  }
}

.js-copy-link.copied+.copy-tooltip {
  /* Show tooltip only when glowing */
  opacity: 0;
  /* Initially hidden */
  animation: showOnGlow 0.5s ease-in-out forwards;
  z-index: 10;
  right: 50%;
}

@keyframes showOnGlow {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  /* Show tooltip during glow */
  75% {
    opacity: 1;
  }

  /* Maintain visibility through the blink */
  100% {
    opacity: 0;
  }

  /* Hide tooltip after animation */
}